<li>
  <a href="https://orcid.org/0000-0002-4711-5759" itemprop="sameAs">
    <i class="ai ai-orcid-square ai-fw" aria-hidden="true"></i> ORCID
  </a>
</li>
<li>
  <a href="https://scholar.google.ch/citations?user=pGROUG0AAAAJ" itemprop="sameAs">
    <i class="ai ai-google-scholar-square ai-fw" aria-hidden="true"></i> Google Scholar
  </a>
</li>
<li>
  <a href="https://www.researchgate.net/profile/Julien_Raemy" itemprop="sameAs">
    <i class="ai ai-researchgate-square ai-fw"></i> ResearchGate
  </a>
</li>
<li>
  <a href="https://www.zotero.org/juls14" itemprop="sameAs">
    <i class="ai ai-zotero-square ai-fw"></i> Zotero
  </a>
</li>